<div [@routerTransition]>
        <app-page-header [heading]="'Trident Dashboard'" [icon]="'fa-table'"></app-page-header>
    

        <app-charts></app-charts>

        <p style="width: 100%">
                        <ag-grid-angular 
                            #agGrid
                            style="width: 100%; height: 500px;" 
                            class="ag-theme-balham"
                            [rowData]="rowData | async" 
                            [columnDefs]="columnDefs"
                            rowSelection="multiple"
                            >
                        </ag-grid-angular>                                
                    </p>
</div>